idna>=2.8
networkx
pymysql
awscli
opencv-python-headless
numpy==1.22.1
scipy
scikit-learn
matplotlib
pandas
pillow
jupyterlab
tifffile
chembl-webresource-client
albumentations
seaborn
tqdm
seaborn
segmentation-models
h5py
btrack
mxnet_mkl
pyqtgraph
PyQt5
numba
natsort
psycopg2
sqlalchemy

