idna>=2.8
networkx
pymysql
awscli
opencv-python-headless
numpy
scipy
scikit-learn
matplotlib
pandas
pillow
jupyterlab
tifffile
chembl-webresource-client
albumentations
seaborn
tqdm
torch
torchvision
seaborn
segmentation-models
