pymysql==0.9.3
awscli== 1.17.0
opencv-python-headless==4.1.2.30
numpy==1.18.1
scipy==1.4.1
scikit-learn==0.22.1
matplotlib==3.1.2
pandas==1.2.3
pillow==8.1.1
jupyterlab==1.2.4
tifffile==2019.7.26.2
chembl-webresource-client==0.10.1
seaborn==0.11.0
pylint==2.8.0
fpdf==1.82