name: CICD docker image

on: push

jobs:

  build-gpu:
    name: Build docker image (with cache) and push it to registry (gpu-version)
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1

    - name: Create base image tag name from branch
      id: img-vars
      run: |
        # This gets part of branch name afer last - e.g. branch name = tf-2.1.0
        BRANCH=${GITHUB_REF##*/}
        VERSION=${GITHUB_REF##*-}
        IMAGE_NAME="pharmbio/pharmbio-notebook"
        IMAGE_TAG="$BRANCH-gpu-py3-jupyter"
        BASE_IMAGE="tensorflow/tensorflow:$VERSION-gpu-py3-jupyter"
        echo ::set-output name=IMAGE_NAME::$IMAGE_NAME
        echo ::set-output name=IMAGE_TAG::$IMAGE_TAG
        echo ::set-output name=BASE_IMAGE::$BASE_IMAGE

    - name: Echo envs
      run: |
        env

    - uses: whoan/docker-build-with-cache-action@master
      with:
        username: "${{ secrets.DOCKER_USERNAME }}"
        password: "${{ secrets.DOCKER_PASSWORD }}"
        image_name: "${{ steps.img-vars.IMAGE_NAME }}"
        image_tag: "${{ steps.img-vars.IMAGE_TAG }}"
        registry: docker.pkg.github.com
        build_args: "--compress=true --build-arg=BASE_IMAGE=${{ steps.img-vars.BASE_IMAGE }}"


  build-nogpu:
    name: Build docker image (with cache) and push it to registry
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1

    - name: Create base image tag name from branch
      shell: bash
      run: |
        # This gets part of branch name afer last - e.g. branch name = tf-2.1.0
        BRANCH=${GITHUB_REF##*/}
        VERSION=${GITHUB_REF##*-}
        IMAGE_NAME="pharmbio/pharmbio-notebook"
        IMAGE_TAG="$BRANCH-py3-jupyter"
        BASE_IMAGE="tensorflow/tensorflow:$VERSION-py3-jupyter"
         echo ::set-output name=IMAGE_NAME::$IMAGE_NAME
        echo ::set-output name=IMAGE_TAG::$IMAGE_TAG
        echo ::set-output name=BASE_IMAGE::$BASE_IMAGE

    - name: Echo envs
      run: |
        env

    - uses: whoan/docker-build-with-cache-action@master
      with:
        username: "${{ secrets.DOCKER_USERNAME }}"
        password: "${{ secrets.DOCKER_PASSWORD }}"
        image_name: "${{ steps.img-vars.IMAGE_NAME }}"
        image_tag: "${{ steps.img-vars.IMAGE_TAG }}"
        registry: docker.pkg.github.com
        build_args: "--compress=true --build-arg=BASE_IMAGE=${{ steps.img-vars.BASE_IMAGE }}"
